@model IEnumerable<QuyetTien.Models.CashBill>

@{
    ViewBag.Title = "ViewListCB";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<div class="monthly-grid">
    <div class=11"progressbar-heading grids-heading">
        <h2><strong>DANH SÁCH HÓA ĐƠN TIỀN MẶT</strong></h2>
    </div>
    <p>
        <a href="@Url.Action("AddCB","CashBill")"><i class="fas fa-plus-square" style="font-size: 34px"></i></a>
    </p>
    <table class="display table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BillCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shipper)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GrandTotal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shipper)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrandTotal)
                    </td>
                    <td>
                        <a href="@Url.Action("UpdateCB","CashBill",new { id = item.ID})"><i class="fas fa-pen-square" style="font-size:24px;"></i></a>
                        <a href="@Url.Action("Delete","CashBill",new { id = item.ID})"><i class="fas fa-trash" style="font-size:24px; color:red"></i></a>
                    </td>
                </tr>
            }
        </tbody>
        

        

    </table>

</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ hóa đơn",
                "sZeroRecords": "Không tìm thấy hóa đơn nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm hóa đơn:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            
            }
        });
    });

</script>