@model QuyetTien.Models.Product

@{
    ViewBag.Title = "viewListProduct";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<div class="monthly-grid">
    <div class="progressbar-heading grids-heading">
        <h2><strong>THÊM SẢN PHẨM</strong></h2>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 ctl">
                    @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control1" } })
                    @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 ctl">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductTypeID, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 ctl">
                    @Html.DropDownList("ProductTypeID", (IEnumerable<SelectListItem>)ViewBag.ProductTypeID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductTypeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SalePrice, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 ctl">
                    @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OriginPrice, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 ctl">
                    @Html.EditorFor(model => model.OriginPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OriginPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InstallmentPrice, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 ctl">
                    @Html.EditorFor(model => model.InstallmentPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InstallmentPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 ctl">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 ctl">
                    @Html.EditorFor(model => model.Avatar, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 ctl">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
    <div>
        @Html.ActionLink("Quay lại", "viewListProduct","Product", new { @class = "btn btn-primary", @name = "sub-1" })
    </div>
