@model IEnumerable<QuyetTien.Models.Product>

@{
    ViewBag.Title = "viewListProduct";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<div class="monthly-grid">
    <div class="progressbar-heading grids-heading">
        <h2><strong>XEM DANH SÁCH SẢN PHẨM</strong></h2>
    </div>
    <p>
        <a href="@Url.Action("addProduct","Product")"><i class="fas fa-plus-square" style="font-size: 34px"></i></a>
    </p>

    <table class="display" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductTypeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OriginPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InstallmentPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avatar)
                </th>
                <th>Tùy chọn</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType.ProductTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstallmentPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Avatar)
                    </td>
                    <td>
                        <a href="@Url.Action("editProduct","Product",new { id = item.ID})"><i class="fas fa-pen-square" style="font-size:24px;"></i></a>
                        <a href="@Url.Action("deleteProduct","Product",new { id = item.ID})"><i class="fas fa-trash" style="font-size:24px; color:red"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ hóa đơn",
                "sZeroRecords": "Không tìm thấy hóa đơn nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm hóa đơn:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }

            }
        });
    });
</script>
